In [1]:
from pathlib import Path
import pandas as pd

In [3]:
data = Path('./Resources/diabetes.csv')
df = pd.read_csv(data)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
y = df['Outcome']
X = df.drop(columns='Outcome')

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(576, 8)

In [8]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

In [10]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [15]:
y_pred = classifier.predict(X_test)

results = pd.DataFrame({'Prediction': y_pred, 'Actual':y_test})
results.head(20)

     Prediction  Actual
118           0       0
132           1       1
3             0       0
693           1       1
654           0       0
106           0       0
715           1       1
670           1       0
154           1       1
75            0       0
702           1       1
560           0       1
42            0       0
691           1       1
646           0       1
321           0       1
211           0       0
190           0       0
269           1       1
82            0       0

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7760416666666666