In [6]:
# Add the dependencies

import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [7]:
# load the data

data = "./Resources/loans_data_encoded.csv"

loans_df = pd.read_csv(data)
loans_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [8]:
# Define the feature set

X = loans_df.copy()
X = X.drop('bad', axis=1)
y = loans_df['bad'].values

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
from sklearn.ensemble import GradientBoostingClassifier

learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20, learning_rate=learning_rate, max_features=5, max_depth=3, random_state=0)
    classifier.fit(X_train_scaled, y_train.ravel())
    print('Learning Rate: ', learning_rate)
    print('Accuracy Score (training): {0:.3f}'.format(classifier.score(X_test_scaled, y_test)))

Learning Rate:  0.05
Accuracy Score (training): 0.512
Learning Rate:  0.1
Accuracy Score (training): 0.520
Learning Rate:  0.25
Accuracy Score (training): 0.536
Learning Rate:  0.5
Accuracy Score (training): 0.560
Learning Rate:  0.75
Accuracy Score (training): 0.520
Learning Rate:  1
Accuracy Score (training): 0.472

In [14]:
classifier = GradientBoostingClassifier(n_estimators=20, learning_rate=0.5, max_features=5, max_depth=3, random_state=0)
classifier.fit(X_train_scaled, y_train)
pred = classifier.predict(X_test_scaled)

In [15]:
acc_score = accuracy_score(y_test, pred)
print(f'Accuracy Score: {acc_score}')

Accuracy Score: 0.56

In [16]:
cm = confusion_matrix(y_test, pred)
cm_df = pd.DataFrame(cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0', 'Predicted 1'])

display(cm_df)

          Predicted 0  Predicted 1
Actual 0           49           16
Actual 1           39           21

In [17]:
print('Classification Report')
print(classification_report(y_test, pred))

Classification Report
              precision    recall  f1-score   support

           0       0.56      0.75      0.64        65
           1       0.57      0.35      0.43        60

    accuracy                           0.56       125
   macro avg       0.56      0.55      0.54       125
weighted avg       0.56      0.56      0.54       125