In [1]:
# Add the dependencies

import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# load the data

data = "../Resources/loans_data_encoded.csv"

loans_df = pd.read_csv(data)
loans_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [20]:
# Define the feature set

X = loans_df.copy()
X = X.drop('bad', axis=1)
X = X.drop('education_Master or Above', axis=1)
X = X.drop('education_Bachelor', axis=1)
X = X.drop('gender_female', axis=1)
X = X.drop('gender_male', axis=1)
X = X.drop('education_High School or Below', axis=1)
X = X.drop('education_college', axis=1)

X.head()

   amount  term  age  month_num
0    1000    30   45          6
1    1000    30   50          7
2    1000    30   33          8
3    1000    15   27          9
4    1000    30   28         10

In [21]:
# Define the target set
y = loans_df['bad'].ravel()
y[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [22]:
# Break out the training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [23]:
# Create a StandardScaler instance

scaler = StandardScaler()

# Fitting the scaler with the training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
# Create a RandomForestClassifier instance

rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [25]:
# Fit the model

rf_model = rf_model.fit(X_train_scaled, y_train)

In [26]:
# Make predictions with the test data

pred = rf_model.predict(X_test_scaled)
pred

array([1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1], dtype=int64)

In [27]:
# Create a confusion Matrix

cm = confusion_matrix(y_test, pred)

# Create a DataFrame for the cm
cm_df = pd.DataFrame(cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0', 'Predicted 1'])
cm_df

          Predicted 0  Predicted 1
Actual 0           51           33
Actual 1           25           16

In [28]:
# Calculate the accuracy score

acc_score = accuracy_score(y_test, pred)
acc_score

0.536

In [29]:
# Display results

print('Confusion Matrix')
display(cm_df)
print(f'Accuracy Score : {acc_score}')
print('Classification Report')
print(classification_report(y_test,pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           51           33
Actual 1           25           16

Accuracy Score : 0.536
Classification Report
              precision    recall  f1-score   support

           0       0.67      0.61      0.64        84
           1       0.33      0.39      0.36        41

    accuracy                           0.54       125
   macro avg       0.50      0.50      0.50       125
weighted avg       0.56      0.54      0.55       125

In [30]:
# Calculate the feature importance
importances = rf_model.feature_importances_
importances

array([0.05961604, 0.09864621, 0.50218612, 0.33955162])

In [31]:
# Sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5021861245304408, 'age'),
 (0.33955161660229205, 'month_num'),
 (0.09864621418980625, 'term'),
 (0.059616044677461004, 'amount')]